<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'menu-today' %}">MENU</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          {% if user.is_authenticated %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Almuerzos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href=" {% url 'lunch-add' %} ">Solicitar</a></li>
            <li><a href=" {% url 'lunch-list'  %} ">Ver</a></li>
          </ul>
          {% endif %}
        </li>
        <li class="dropdown">
          {% if user.is_authenticated %}
            {% if perms.menu.add_menu %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=" {% url 'menu-add'  %} ">Crear</a></li>
                <li><a href=" {% url 'menu-list' %} ">Listar</a></li>
                <li><a href=" {% url 'food-list'  %} ">Comidas</a></li>
                <li><a href=" {% url 'additional-list'  %} ">Adicionales</a></li>
                <li><a href=" {% url 'email'  %} ">Enviar email</a></li>
                <li><a href=" {% url 'slack-message'  %} ">Enviar Slack</a></li>
              </ul>
            {% endif %}
          {% endif %}
        </li>
      </ul>
     
            <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          {% if user.is_authenticated %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.get_username}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'logout' %}"></span>Logout</a></li>
            </ul>
          {% else %}
           <li><a href=" {% url 'login'  %} ">Login</a></li>
          {% endif %}       
        </li>
      </ul>
    </div>
  </div>
</nav>