<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hoy</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Almuerzos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href=" {% url 'lunch-add' %} ">Solicitar</a></li>
            <li><a href=" {% url 'lunch-list'  %} ">Ver</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href=" {% url 'menu-add'  %} ">Crear</a></li>
            <li><a href=" {% url 'menu-list' %} ">Listar</a></li>
            <li><a href=" {% url 'food-list'  %} ">Comidas</a></li>
            <li><a href=" {% url 'additional-list'  %} ">Adicionales</a></li>
          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </div>
</nav>